@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl font-[Raleway]
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  
  li {
    @apply cursor-pointer
  }

  p {
    @apply tracking-wide
  }
  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }
}
@layer components {
  .icon {
      @apply rounded-full shadow-lg shadow-gray-400 p-3 hover:opacity-50 hover:bg-gray-300 cursor-pointer hover:scale-110 ease-in duration-300
  }
  .nav-item {
    @apply ml-8 text-sm uppercase hover:border-b hover:bg-gray-300 p-3 py-[30px] rounded-sm
  }
  .nav-item-menu {
    @apply py-4 text-sm hover:border-b-2 border-primary
  }
  .project-btn {
    @apply text-center w-20 py-2 mx-4 rounded-lg bg-white text-gray-700 font-bold text-lg cursor-pointer hover:scale-110 ease-in duration-300  hover:bg-gray-200
  }
  .exp-card {
    @apply px-4 mb-8 shadow-xl rounded-xl hover:scale-105 ease-in duration-300
  }
  .exp-card li {
    @apply  cursor-default
  }
  .exp-card li::marker {
    font-size: 1em;
  }
  .exp-institute-card {
    @apply w-[90%] h-[60%] my-8 sm:border-r-2 border-neutral-400  px-[1%] py-6
  }

  #about p {
    @apply text-lg 
  }
}